.tabela__cabecalho th,
.tabela__corpo td {
  border: 1px solid black;
  text-align: center;
  padding: 0.5em 1em;
  font-size: 1.25rem;
}

.tabela {
  margin-left:100px;
}
.tabela__cabecalho {
}
.tabela__cabecalho th {
  font-weight: bold;
}
.tabela__corpo {
}
.tabela__corpo td {
}
.tabela__corpo td:nth-child(3),.tabela__corpo td:nth-child(4) {
  border: none;
}

.edit, .delete {
  cursor: pointer;
  display: inline-block;
  background: black;
  color: wheat;
  padding: 10px;
  border-radius: 50%;

}
