body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
li{
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
    position: relative;
}
span{
    position: absolute;
    top: 300px;
}