body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container {
}
input {
  text-align: center;
  padding: 0.75em 0em;
  border: none;
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 0.5em black;
  margin: 0.5em 0;
  border-radius: 0.5em;
}
label {
  font-size: 1.25em;
  font-weight: 700;
  text-align: center;
}
button {
  padding: 1em;
  margin-top: 1em;
  background: black;
  color: wheat;
  border-radius: 0.5em;
}
.container ul {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  box-shadow: 0 0 0.5em black;
  padding: 2em 1em;
  background: white;
}

.esconde {
  display: none;
  background: red;
}
.resposta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.resposta1 {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.simNao {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
