@import url('./header.css');
@import url('./card.css');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;600;700&display=swap');

:root{
    --backgroud-color: #17162E;
    --letter-color-main: #fff;
    --font-family-main:'Kumbh Sans', sans-serif;
    --font-weight-medium: 500;
    --font-size1: 1.125rem;
    --color-input01: rgba(255,255,255,0.2);
    --color-card-backgroud: #1D1C3B;
}
*{
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--backgroud-color);
    color: var(--letter-color-main);
    font-family: var(--font-family-main);
    box-sizing: border-box;
}